 body{
  background-color: rgb(189, 181, 182);  
  max-width: 600px;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;

}


fieldset{
    background-color: rgb(218, 212, 212);
    border: 1px solid rgb(178, 180, 180);
    border-radius: 2%;
    padding:  3%;
    
}
#limpar, #salvar{
    
    margin-top: 1%;
    display: inline-block;
    text-align: center;
    position: absolute;
}

.inform{
    margin-top: 6%;
    color: rgb(151, 86, 95);
    background-color: seashell;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


textarea{
    resize: none;
}

#limpar{
    margin-left: 6%;
}